/* Inside-out listing. */

form a {
    font-size-adjust: 0.5;
    margin: auto;
}

.avatar {
    /* default avitar color #dab3dc */
    position: absolute;
    left: calc(50% - 75px);
}

.loginbox {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 200px;
    background: #d3d3d3;
    padding: 70px 30px;
    border: 5px solid #000;
}

.loginbox h1 {
    text-align: center;
    font-size: 40px;
    padding: 30px 0 0 0;
    margin: 0;
}

.loginbox p {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.loginbox a {
    text-align: center;
    margin: 10px 0 10px 0;
}

.loginbox a:hover {
    color: #b26cab;
}

.loginbox label {
    position: relative;
    top:-10px;
    font-size: 13px;
}

.loginbox 
  input[type="text"],
  input[type="email"], 
  input[type="password"]{
    width: 100%;
    height: 40px;
    background: transparent;
    outline: none;
    font-size: 28;
    border: none;
    border-bottom: 1px solid #b26cab;
    box-shadow: none;
    margin-bottom: 10px;
}

.loginbox 
  input[type="text"]:hover,
  input[type="email"]:hover,
  input[type="password"]:hover {
    box-shadow: 0px 0px 1px 0px #666;
}

.loginbox input[type="checkbox"] {
    position: relative;
    top: 3px;
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0 0 10px;
}

.loginbox input[type="button"] {
    width: 100%;
    height: 40px;
    color: #333;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 20px;
    margin-bottom: 5px;
    background: #b26cab;
}

.loginbox input[type="button"]:hover {
    box-shadow: 0px 2px 2px #666;
}

@media only all and (max-width: 768px) {
    
}
