/* Inside-out listing. */

html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #666;
}

body {
    background-color: #c1fedd;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #000 inset;
    box-shadow: 0 0 0 100px #000 inset;
}

div {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a {
    text-decoration: none;
    color: #666;
}

input[type="text"],
  input[type="email"], 
  input[type="password"]{
    background: transparent;
    height: 40px;
    color: #666;
    font-size: 16px;
    outline: none;
    border: none;
    border-bottom: 1px solid #b26cab;
    box-shadow: none;
}

input[type="text"]:hover,
  input[type="email"]:hover,
  input[type="password"]:hover {
    box-shadow: 0px 0px 1px 0px #666;
}

input[type="submit"],
  input[type="button"] {
    height: 40px;
    background: #b26cab;
    color: #d3d3d3;
    font-size: 24px;
    outline: none;
    border: none;
    border-radius: 20px;
    margin: 5px auto;
}

input[type="submit"]:hover,
  input[type="button"]:hover {
    box-shadow: 0px 2px 2px #666;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    right: 0;
    left: 0;
    background-color: #c1fedd;
    opacity: 0.8;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.hamburgerLink {
    z-index: 1000;
    width: 220px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

.hamburgerLink #childLink {
    z-index: 1000;
    width: 220px;
    font-size: 28px;
    font-weight: bold;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #838383;
}

.hamburgerLink:hover #childLink {
    border-color: #b26cab;
}

#infoBox {
    position: relative;
    clear: left;
    height: 65px;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #666;
    margin: 0px auto 20px auto;
    cursor: pointer;
}

#labelBox {
    position: relative;
    clear: left;
    height: 30px;
    font-size: 28px;
    text-align: center;
    border: none;
    margin: auto;
}

#infoBox:hover {
    border-color: #b26cab;
}

#infoBox div {
    position: relative;
    display: inline-block;
    font-size: 48px;
    font-weight: bold;
}

#labelBox div {
    position: relative;
    display: inline-block;
    font-size: 28px;
    font-weight: normal;
}

#infoArrow {
    position: relative;
    width: 55px;
    color: #666;
    text-align: center;
    margin-top: 5px;
}

#infoBox:hover #infoArrow {
    transform: rotate(-45deg);
    color: #b26cab;
}



#headerBox {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0px;
    left: 0px;
    background-color: #c1fedd;
    opacity: 0.8;
}

#hamburger_button {
    z-index: 1000;
    position: fixed;
    top: 0px;
    right: 0px;
    outline : none;
    float: right;
    margin: 10px;
}

#hamburgerMenu {
    z-index: 1000;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 100%;
    background: #c4c4c4;
    padding: 70px 5px 5px;
    visibility: hidden;
}

#dimmer {
    z-index: 1000;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 100%;
    background: #000;
    visibility: hidden;
    opacity: 0.7;
}

#canvas {
    width: 0;
    height:0;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

/*#registerSubmit {
    position: absolute;
    top: 0px;
    left: -5px;
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    visibility: hidden;
}*/

#loginError {
    border: 5px solid #f00;
}

@media only all and (max-width: 1024px) {
    
}

@media only all and (max-width: 768px) {
    
}
