html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #C1FEDD;
    font-family: sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    right: 0;
    left: 0;
}

a {
    text-decoration: none;
}

.avatar {
    /* default avitar color #dab3dc */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 75px);
}

.loginbox {
    width: 200px;
    border: 5px solid #000;
    background: #d3d3d3;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 70px 30px;
    
}

.loginbox h1 {
    margin: 0;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 40px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox a {
    color: #000;
    padding: 0 0 20px;
    text-align: center;
}

.loginbox label {
    position: relative;
    top:-10px;
    font-size: 13px;
}

.loginbox input[type="text"], input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 28;
}

.loginbox input[type="checkbox"] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    position: relative;
    top: 3px;
    *overflow: hidden;
    margin: 0 0 10px;
}

.loginbox input[type="submit"] {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    height: 40px;
    background: #b26cab;
    color: #000;
    font-size: 20px;
}

.loginbox input[type="submit"]:hover {
    box-shadow: 0px 2px 2px #000;
}

@media only all and (max-width: 1024px) {
    
}

@media only all and (max-width: 768px) {
    
}
